.verify-email-container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 0 20px;
    font-family: sans-serif;
}

.message-box {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.8;
    font-weight: bold;
    color: #000;
}

.verify-email__action {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.verify-email__button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background-color: #d9d9d9;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
}

.verify-email__button-box:hover {
    opacity: 0.8;;
}

.verify-email__button-text {
    background: none;
    border: none;
    color: #3b82f6;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    padding: 0;
}

.verify-email__button-text:hover {
    text-decoration: underline;
}